<a href="https://colab.research.google.com/github/prathikmohan/python_ds_cal_housing/blob/main/py_cal_housing_ds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### importing ibraries

In [3]:
import pandas as pd
import numpy as np
import os

#### accessing the dataset

In [55]:
os.chdir("/home/prathikm/Desktop/github/python_ds_cal_housing-main/")
df = pd.read_csv("california_housing_test.csv")

#### initial exploration

In [9]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [11]:
df.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

#### data-types of all parameters

In [12]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

#### various attributes like numpy representation of data

In [14]:
df.axes

[RangeIndex(start=0, stop=3000, step=1),
 Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
        'total_bedrooms', 'population', 'households', 'median_income',
        'median_house_value'],
       dtype='object')]

In [15]:
df.ndim

2

In [16]:
df.size

27000

In [17]:
df.shape

(3000, 9)

In [13]:
df.value_counts

<bound method DataFrame.value_counts of       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       -122.05     37.37                27.0       3885.0           661.0
1       -118.30     34.26                43.0       1510.0           310.0
2       -117.81     33.78                27.0       3589.0           507.0
3       -118.36     33.82                28.0         67.0            15.0
4       -119.67     36.33                19.0       1241.0           244.0
...         ...       ...                 ...          ...             ...
2995    -119.86     34.42                23.0       1450.0           642.0
2996    -118.14     34.06                27.0       5257.0          1082.0
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
0         1537.0       606.0         6.6085            344700.0
1          809.0       277.0         3.5990            176500.0
2         1484.0       495.0         5.7934            270500.0
3           49.0        11.0         6.1359            330000.0
4          850.0       237.0         2.9375             81700.0
...          ...         ...            ...                 ...
2995      1258.0       607.0         1.1790            225000.0
2996      3496.0      1036.0         3.3906            237200.0
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

[3000 rows x 9 columns]>

#### running methods

In [18]:
df.describe() #descriptive stats for all columns

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.00000
mean,-119.589200,35.63539,28.845333,2599.578667,529.950667,1402.798667,489.91200,3.807272,205846.27500
std,1.994936,2.12967,12.555396,2155.593332,415.654368,1030.543012,365.42271,1.854512,113119.68747
min,-124.180000,32.56000,1.000000,6.000000,2.000000,5.000000,2.00000,0.499900,22500.00000
25%,-121.810000,33.93000,18.000000,1401.000000,291.000000,780.000000,273.00000,2.544000,121200.00000
50%,-118.485000,34.27000,29.000000,2106.000000,437.000000,1155.000000,409.50000,3.487150,177650.00000
75%,-118.020000,37.69000,37.000000,3129.000000,636.000000,1742.750000,597.25000,4.656475,263975.00000
max,-114.490000,41.92000,52.000000,30450.000000,5419.000000,11935.000000,4930.00000,15.000100,500001.00000

In [20]:
df.total_rooms.describe() #descriptive stats for total_rooms

count     3000.000000
mean      2599.578667
std       2155.593332
min          6.000000
25%       1401.000000
50%       2106.000000
75%       3129.000000
max      30450.000000
Name: total_rooms, dtype: float64

In [21]:
df.max()

longitude               -114.4900
latitude                  41.9200
housing_median_age        52.0000
total_rooms            30450.0000
total_bedrooms          5419.0000
population             11935.0000
households              4930.0000
median_income             15.0001
median_house_value    500001.0000
dtype: float64

In [22]:
df.min()

longitude              -124.1800
latitude                 32.5600
housing_median_age        1.0000
total_rooms               6.0000
total_bedrooms            2.0000
population                5.0000
households                2.0000
median_income             0.4999
median_house_value    22500.0000
dtype: float64

In [30]:
mean_50=df.head(50).mean() #mean value of first 50
mean_50

longitude               -119.377200
latitude                  35.400200
housing_median_age        29.300000
total_rooms             2793.100000
total_bedrooms           556.200000
population              1525.440000
households               528.080000
median_income              4.024894
median_house_value    205638.020000
dtype: float64

In [31]:
df.median()

longitude               -118.48500
latitude                  34.27000
housing_median_age        29.00000
total_rooms             2106.00000
total_bedrooms           437.00000
population              1155.00000
households               409.50000
median_income              3.48715
median_house_value    177650.00000
dtype: float64

In [32]:
df.std()

longitude                  1.994936
latitude                   2.129670
housing_median_age        12.555396
total_rooms             2155.593332
total_bedrooms           415.654368
population              1030.543012
households               365.422710
median_income              1.854512
median_house_value    113119.687470
dtype: float64

In [33]:
df.sample(10) #random 10 samples from data frame

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2504,-118.26,33.91,39.0,967.0,256.0,903.0,256.0,1.9038,93100.0
1568,-118.33,34.04,31.0,1090.0,251.0,955.0,239.0,2.9130,192500.0
1278,-121.93,36.63,33.0,1740.0,342.0,638.0,329.0,3.1912,319800.0
45,-117.24,33.17,4.0,9998.0,1874.0,3925.0,1672.0,4.2826,237500.0
684,-118.20,34.06,46.0,321.0,101.0,401.0,86.0,2.1029,109400.0
576,-118.29,33.84,33.0,896.0,208.0,843.0,200.0,3.5000,183000.0
949,-121.33,38.28,14.0,980.0,171.0,659.0,183.0,4.4306,170100.0
1543,-122.31,37.54,38.0,1946.0,407.0,975.0,417.0,4.0726,385400.0
2678,-118.04,33.93,35.0,1805.0,387.0,1505.0,366.0,4.1667,151900.0
2885,-118.50,34.26,33.0,2831.0,510.0,1340.0,504.0,4.8316,237300.0

In [34]:
df.dropna()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

#### slicing and groups

In [35]:
df[['housing_median_age']] #selecting a column housing_median_age with it's descriptive stats

      housing_median_age
0                   27.0
1                   43.0
2                   27.0
3                   28.0
4                   19.0
...                  ...
2995                23.0
2996                27.0
2997                10.0
2998                40.0
2999                42.0

[3000 rows x 1 columns]

In [36]:
df['households'].describe() #give descriptive stats of column household

count    3000.00000
mean      489.91200
std       365.42271
min         2.00000
25%       273.00000
50%       409.50000
75%       597.25000
max      4930.00000
Name: households, dtype: float64

#### using groupby method

In [37]:
grp_age=df.groupby(['housing_median_age']) #group data using housing median age from df and assign to grp_age

In [38]:
grp_age.mean() #show mean of each column per each group in grp_age

,longitude,latitude,total_rooms,total_bedrooms,population,households,median_income,median_house_value
housing_median_age,,,,,,,,
1.0,-117.450000,34.470000,44.500000,8.500000,20.000000,8.500000,3.250000,98350.000000
2.0,-119.596667,35.793333,9006.333333,1459.166667,3067.500000,1014.166667,6.189233,217183.333333
3.0,-119.389167,35.591667,6731.250000,1214.750000,2702.583333,1020.833333,5.143750,238191.666667
4.0,-118.963571,34.962857,7383.392857,1385.214286,3329.107143,1266.642857,5.036068,220085.714286
5.0,-119.550513,35.870769,5660.615385,1085.051282,2624.974359,960.358974,4.613059,202925.692308
6.0,-119.419600,35.573200,5255.040000,1001.400000,2238.840000,834.880000,3.900952,183248.000000
7.0,-118.853000,35.096500,3718.250000,646.500000,2028.100000,600.750000,4.737960,220095.050000
8.0,-118.952000,35.499200,3311.520000,617.240000,1744.560000,580.440000,4.655224,210796.040000
9.0,-119.241111,35.755556,3407.888889,646.111111,1822.444444,589.370370,3.959419,169585.222222
10.0,-119.763667,36.084000,3294.500000,671.166667,1531.400000,554.066667,3.510693,169420.033333
11.0,-119.400732,35.748780,3483.170732,703.146341,1750.585366,611.390244,3.517373,172580.536585
12.0,-119.129268,35.385122,4032.731707,810.341463,2190.170732,696.585366,3.724902,177248.780488
13.0,-119.168049,35.710244,3343.243902,659.975610,1664.731707,601.390244,4.276322,203848.829268
14.0,-119.882105,36.494561,3229.807018,649.210526,1600.491228,583.438596,3.847881,179243.859649
15.0,-119.554156,36.032727,3171.727273,571.753247,1459.740260,525.740260,4.508608,187659.779221
16.0,-119.667477,35.860280,2609.971963,494.775701,1336.411215,460.943925,4.391484,200767.308411
17.0,-119.900400,36.382200,3393.910000,641.200000,1655.740000,581.840000,4.039506,187344.010000
18.0,-119.794868,35.955921,3152.671053,617.934211,1626.881579,553.157895,4.018583,194977.657895
19.0,-119.415921,35.749474,3286.565789,713.736842,1609.855263,626.473684,3.358737,173815.802632
20.0,-119.956825,36.117460,3219.936508,623.936508,1699.047619,596.095238,3.989756,217506.396825
21.0,-120.049016,35.992623,3068.393443,648.819672,1653.180328,608.393443,3.728531,191662.311475
22.0,-120.099500,36.115167,2915.950000,604.583333,1613.050000,571.516667,3.814522,201096.716667
23.0,-119.659623,35.633396,2879.037736,580.528302,1459.264151,531.415094,3.843070,201856.622642
24.0,-119.375867,35.507200,2948.733333,592.506667,1517.573333,551.133333,3.952443,207745.360000
25.0,-119.526860,35.641279,2882.813953,561.104651,1436.441860,513.174419,4.216521,220295.418605
26.0,-119.571705,35.486591,2562.784091,506.534091,1305.113636,480.909091,4.321803,236247.761364
27.0,-119.247027,35.169459,2647.878378,553.337838,1538.500000,520.162162,3.980049,221754.108108
28.0,-119.263621,35.301379,2493.810345,576.258621,1511.965517,532.275862,3.359605,202955.189655
29.0,-119.692533,35.623733,2524.306667,554.240000,1447.586667,518.386667,3.410200,217034.706667
30.0,-119.249605,35.254342,2252.855263,495.184211,1341.131579,460.881579,3.594842,194601.381579
31.0,-119.516491,35.518772,2121.421053,464.859649,1365.385965,439.157895,3.383191,198631.614035
32.0,-119.427473,35.486484,2215.274725,452.054945,1315.527473,434.439560,3.599078,186393.428571
33.0,-119.374235,35.334706,2241.188235,476.058824,1361.588235,454.435294,3.726387,204196.517647
34.0,-119.253725,35.124804,2213.245098,430.039216,1241.127451,414.980392,4.174114,221397.098039
35.0,-119.362288,35.203644,1958.398305,397.694915,1204.144068,384.542373,3.917758,209753.440678
36.0,-119.292087,35.163913,1783.669565,376.930435,1116.965217,355.156522,3.708867,204987.878261
37.0,-119.446477,35.447500,1825.636364,378.068182,1050.125000,358.795455,4.069935,201134.170455
38.0,-119.527031,35.524687,1796.984375,382.921875,1103.906250,369.359375,3.422550,186135.968750
39.0,-119.607455,35.473091,1900.872727,429.745455,1205.509091,403.836364,3.484904,219209.145455
40.0,-119.548140,35.410465,1697.813953,364.930233,1029.674419,342.930233,3.639919,226409.372093
41.0,-119.570179,35.367321,1582.053571,362.250000,973.571429,341.785714,3.336795,205646.500000
42.0,-119.548039,35.310000,1730.039216,399.862745,1169.823529,375.745098,3.174276,197133.392157
43.0,-119.330179,35.229821,1842.339286,413.232143,1192.017857,393.607143,3.046318,190894.678571
44.0,-119.814902,35.575098,1862.490196,403.176471,1122.921569,384.509804,3.518194,226123.568627
45.0,-119.499412,35.443333,1677.490196,365.137255,997.549020,346.960784,3.177004,194162.803922
46.0,-119.752439,35.587805,2031.609756,424.634146,1128.707317,404.170732,3.375968,198790.268293
47.0,-119.384545,35.160909,1786.500000,449.318182,1324.500000,426.545455,3.340559,186486.409091
48.0,-119.575294,35.479118,1648.882353,377.794118,1019.117647,361.176471,2.968450,204644.117647
49.0,-119.795714,35.559524,1492.809524,331.666667,948.047619,318.857143,3.638905,227971.571429
50.0,-120.415625,36.627500,1779.312500,370.437500,888.187500,356.312500,3.701775,220200.187500
51.0,-120.091818,36.151818,1641.909091,373.818182,831.454545,367.000000,3.171345,214763.636364
52.0,-120.674451,36.427225,1831.219653,403.202312,959.034682,375.393064,3.532255,261985.624277

In [39]:
df.groupby(['housing_median_age'])['latitude'].mean() #calculate mean latitude for each housing median age group

housing_median_age
1.0     34.470000
2.0     35.793333
3.0     35.591667
4.0     34.962857
5.0     35.870769
6.0     35.573200
7.0     35.096500
8.0     35.499200
9.0     35.755556
10.0    36.084000
11.0    35.748780
12.0    35.385122
13.0    35.710244
14.0    36.494561
15.0    36.032727
16.0    35.860280
17.0    36.382200
18.0    35.955921
19.0    35.749474
20.0    36.117460
21.0    35.992623
22.0    36.115167
23.0    35.633396
24.0    35.507200
25.0    35.641279
26.0    35.486591
27.0    35.169459
28.0    35.301379
29.0    35.623733
30.0    35.254342
31.0    35.518772
32.0    35.486484
33.0    35.334706
34.0    35.124804
35.0    35.203644
36.0    35.163913
37.0    35.447500
38.0    35.524687
39.0    35.473091
40.0    35.410465
41.0    35.367321
42.0    35.310000
43.0    35.229821
44.0    35.575098
45.0    35.443333
46.0    35.587805
47.0    35.160909
48.0    35.479118
49.0    35.559524
50.0    36.627500
51.0    36.151818
52.0    36.427225
Name: latitude, dtype: float64

In [ ]:
df.groupby(['housing_median_age'])[['latitude']].mean() #SAME as ABOVE with 2 brackets/output is dataframe - calculate mean latitude for each housing median age group

                     latitude
housing_median_age
1.0                 34.470000
2.0                 35.793333
3.0                 35.591667
4.0                 34.962857
5.0                 35.870769
6.0                 35.573200
7.0                 35.096500
8.0                 35.499200
9.0                 35.755556
10.0                36.084000
11.0                35.748780
12.0                35.385122
13.0                35.710244
14.0                36.494561
15.0                36.032727
16.0                35.860280
17.0                36.382200
18.0                35.955921
19.0                35.749474
20.0                36.117460
21.0                35.992623
22.0                36.115167
23.0                35.633396
24.0                35.507200
25.0                35.641279
26.0                35.486591
27.0                35.169459
28.0                35.301379
29.0                35.623733
30.0                35.254342
31.0                35.518772
32.0                35.486484
33.0                35.334706
34.0                35.124804
35.0                35.203644
36.0                35.163913
37.0                35.447500
38.0                35.524687
39.0                35.473091
40.0                35.410465
41.0                35.367321
42.0                35.310000
43.0                35.229821
44.0                35.575098
45.0                35.443333
46.0                35.587805
47.0                35.160909
48.0                35.479118
49.0                35.559524
50.0                36.627500
51.0                36.151818
52.0                36.427225

#### filtering

In [40]:
df['latitude']<35 #filter latitude in boolean

0       False
1        True
2        True
3        True
4       False
        ...
2995     True
2996     True
2997    False
2998     True
2999     True
Name: latitude, Length: 3000, dtype: bool

In [41]:
lat_less35 = df[df['latitude']<35] #output to data frame lat_less35

In [42]:
lat_less35.groupby(['housing_median_age']).mean() #grouped by housing median age for < 35 latitude values

,longitude,latitude,total_rooms,total_bedrooms,population,households,median_income,median_house_value
housing_median_age,,,,,,,,
1.0,-116.950000,33.860000,6.000000,2.000000,8.000000,2.000000,1.625000,55000.000000
2.0,-117.450000,33.870000,16212.666667,2619.333333,5167.333333,1744.000000,4.974800,249066.666667
3.0,-117.536667,33.821667,6334.333333,1142.000000,2480.000000,916.500000,5.225633,256716.666667
4.0,-117.737895,33.641053,8374.315789,1576.421053,3735.526316,1430.473684,5.203532,244989.473684
5.0,-117.600526,33.810000,5769.105263,1141.368421,2768.526316,976.157895,4.255232,196973.684211
6.0,-117.913846,34.036154,7156.692308,1339.307692,2782.769231,1060.153846,4.221092,197015.384615
7.0,-118.016429,33.908571,3717.714286,628.428571,1920.714286,588.357143,5.070136,227428.642857
8.0,-117.423333,33.802667,3840.400000,715.800000,2083.133333,660.600000,4.940573,217846.733333
9.0,-117.547143,33.863571,4318.571429,798.357143,2364.571429,721.071429,4.265043,201507.214286
10.0,-117.497143,33.971429,4720.214286,956.357143,2032.714286,757.785714,4.052129,188707.214286
11.0,-117.830526,33.727895,2941.631579,638.842105,1783.105263,596.315789,3.581289,203468.473684
12.0,-117.291364,33.713182,4404.045455,887.090909,2354.545455,711.818182,3.667850,187431.818182
13.0,-117.547826,33.716522,3705.956522,752.043478,1898.086957,691.478261,4.502117,216134.826087
14.0,-117.707619,33.992857,3295.333333,628.047619,1686.047619,582.476190,4.268162,203409.523810
15.0,-117.515758,33.577879,3357.000000,602.515152,1545.606061,541.000000,5.082703,214497.000000
16.0,-117.467800,33.543400,2658.660000,513.360000,1315.940000,465.040000,4.620294,213060.020000
17.0,-117.651795,33.744615,3810.948718,736.564103,1959.358974,666.230769,4.282454,215774.384615
18.0,-117.548889,33.578611,3373.083333,668.055556,1765.500000,579.777778,4.179233,202991.694444
19.0,-117.628000,33.712750,3505.925000,791.300000,1685.650000,670.075000,3.363295,194895.025000
20.0,-117.773200,33.630000,3896.240000,731.960000,1976.600000,701.520000,4.518808,255376.080000
21.0,-118.011538,33.823462,3449.846154,733.346154,1789.615385,693.230769,4.006385,215957.730769
22.0,-118.172800,33.858800,2758.120000,590.840000,1666.360000,558.680000,3.874956,229436.080000
23.0,-118.008929,33.676429,2978.642857,631.500000,1609.035714,574.857143,3.838518,209750.000000
24.0,-117.885000,33.742955,3003.636364,626.136364,1670.204545,586.954545,4.103270,232534.113636
25.0,-117.992500,33.797500,2981.375000,608.395833,1561.208333,548.958333,4.191660,226589.666667
26.0,-118.057692,33.839615,2750.980769,564.057692,1470.653846,532.096154,4.292100,247361.557692
27.0,-118.127959,33.877347,2749.244898,575.959184,1702.448980,543.653061,4.189194,232261.306122
28.0,-118.121176,33.834706,2362.294118,594.029412,1597.058824,556.294118,3.246662,230202.970588
29.0,-117.991951,33.800244,2417.439024,550.268293,1476.804878,515.048780,3.314851,231617.146341
30.0,-118.204043,33.924681,2281.063830,513.957447,1380.872340,485.914894,3.682894,217495.808511
31.0,-117.923824,33.740588,2054.117647,463.617647,1475.764706,439.058824,3.401706,196791.205882
32.0,-117.984038,33.867692,2183.500000,461.153846,1447.076923,441.250000,3.688617,195209.634615
33.0,-118.075926,33.935000,2336.185185,492.777778,1437.777778,467.092593,3.946413,232903.777778
34.0,-118.073824,33.907500,2160.220588,428.867647,1283.235294,416.926471,4.174672,220458.867647
35.0,-118.054156,33.841818,1972.103896,415.415584,1339.428571,402.935065,3.842169,207374.064935
36.0,-118.030946,33.880811,1834.756757,400.581081,1228.945946,376.837838,3.657859,216000.067568
37.0,-118.081346,33.924808,2003.692308,415.826923,1177.826923,400.865385,4.555177,228542.423077
38.0,-118.089730,33.929459,1698.081081,380.297297,1150.270270,361.675676,3.553778,198232.486486
39.0,-118.327647,34.057647,1763.941176,416.382353,1245.558824,393.735294,3.500688,235314.764706
40.0,-118.114400,33.970400,1542.120000,362.760000,1061.680000,335.680000,3.726116,245396.120000
41.0,-118.275588,33.975588,1643.882353,396.617647,1120.941176,377.205882,3.145635,215629.500000
42.0,-118.162258,33.879032,1652.612903,400.354839,1219.419355,376.096774,3.304800,199767.806452
43.0,-118.067222,33.848889,1610.361111,371.888889,1140.000000,354.694444,3.168553,202577.833333
44.0,-118.183793,33.964483,1876.206897,414.620690,1178.172414,394.034483,3.661300,243551.793103
45.0,-118.090645,33.839032,1701.322581,382.064516,1089.967742,364.161290,3.264206,215164.612903
46.0,-118.211250,34.017500,1775.916667,380.000000,1111.875000,365.333333,3.473633,197000.000000
47.0,-118.170000,33.908000,1693.200000,461.866667,1422.400000,440.200000,3.432920,177406.733333
48.0,-118.208571,34.040476,1631.761905,390.714286,1099.761905,378.142857,3.013957,205371.428571
49.0,-118.208333,34.030000,1428.250000,312.583333,973.166667,302.666667,3.813450,200716.750000
50.0,-117.738000,33.808000,1562.000000,290.600000,733.200000,289.200000,4.921080,237740.200000
51.0,-118.292500,34.100000,1498.250000,375.250000,871.500000,370.750000,3.693600,330425.000000
52.0,-118.129516,33.930806,1698.903226,357.548387,921.596774,339.741935,3.614671,263962.967742

#### exploring df using iloc

In [45]:
df.head(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0

In [46]:
df.iloc[0] #exploring iloc for row 0

longitude               -122.0500
latitude                  37.3700
housing_median_age        27.0000
total_rooms             3885.0000
total_bedrooms           661.0000
population              1537.0000
households               606.0000
median_income              6.6085
median_house_value    344700.0000
Name: 0, dtype: float64

In [48]:
df.iloc[0,0] #first row, first cokumn

-122.05

In [49]:
df.iloc[0,2]

27.0

In [50]:
df.iloc[:,0] #exploring iloc for column 0

0      -122.05
1      -118.30
2      -117.81
3      -118.36
4      -119.67
         ...
2995   -119.86
2996   -118.14
2997   -119.70
2998   -117.12
2999   -119.63
Name: longitude, Length: 3000, dtype: float64

#### df.iloc[start:stop-1 , start:stop-1]

In [51]:
df.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [52]:
df.iloc[2997:2999, 1:3]

      latitude  housing_median_age
2997      36.3                10.0
2998      34.1                40.0

#### sample aggregation method

In [53]:
df.head(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0

In [54]:
df[['population','total_rooms']].agg(['min','max'])

     population  total_rooms
min         5.0          6.0
max     11935.0      30450.0